In [0]:
import pandas
from google.colab import files

f = {"COL_A":[0.5, 0.8, 0.7, 0.8, 0.9, 0.2,None],
     "COL_B":[0.9, 0.6, 0.3, 0.3, None, 0.7, None],
     "COL_C":[0.4, None, 0.8, None, 0.7, 0.6, None],
     "COL_D":[None, None, 0.9, 0.2, 0.3, None, None]
    }
df = pandas.DataFrame(f)
#print(df)

df.to_csv("missing_data.csv", index_label= False, encoding = "utf8")
#files.download("missing_data.csv")

f = {"COL_A":[0.7, 0.8, 0.7, 0.8, 0.9, 0.7],
     "COL_B":[0.3, 0.6, 0.3, 0.3, 0.3, 0.3],
     "COL_C":[0.8, 0.4, 0.8, 0.5, 0.7, 0.8],
     "COL_D":[0.9, 0.8, 0.9, 0.2, 0.3, 0.9]
    }
df = pandas.DataFrame(f)
#print(df)
df.to_csv("duplicated_data.csv", index_label= False, encoding = "utf8")
#files.download("duplicated_data.csv")

In [36]:
df = pandas.read_csv("missing_data.csv")
print(df)

   COL_A  COL_B  COL_C  COL_D
0    0.5    0.9    0.4    NaN
1    0.8    0.6    NaN    NaN
2    0.7    0.3    0.8    0.9
3    0.8    0.3    NaN    0.2
4    0.9    NaN    0.7    0.3
5    0.2    0.7    0.6    NaN
6    NaN    NaN    NaN    NaN

# **01. 處理遺漏值**

**01_1. 顯示遺漏值的資訊**

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   COL_A   6 non-null      float64
 1   COL_B   5 non-null      float64
 2   COL_C   4 non-null      float64
 3   COL_D   3 non-null      float64
dtypes: float64(4)
memory usage: 280.0 bytes

**01_2. 刪除屬於NaN的Record**

In [29]:
# 使用dropna(), 預設為刪除全部, 可以增加how參數
df1 = df.dropna()
print(df1)
print()

# how ="any", 刪除任何含NaN的Record
df2 = df.dropna(how = "any")
print(df2)
print()

# how = "all", 刪除所有欄位都是NaN的Record
df3 = df.dropna(how = "all")
print(df3)
print()

# subset屬性指定某些欄位, 只要有NaN就會刪除
df4 = df.dropna(subset = ["COL_B","COL_C"])
print(df4)

   COL_A  COL_B  COL_C  COL_D
2    0.7    0.3    0.8    0.9

   COL_A  COL_B  COL_C  COL_D
2    0.7    0.3    0.8    0.9

   COL_A  COL_B  COL_C  COL_D
0    0.5    0.9    0.4    NaN
1    0.8    0.6    NaN    NaN
2    0.7    0.3    0.8    0.9
3    0.8    0.3    NaN    0.2
4    0.9    NaN    0.7    0.3
5    0.2    0.7    0.6    NaN

   COL_A  COL_B  COL_C  COL_D
0    0.5    0.9    0.4    NaN
2    0.7    0.3    0.8    0.9
5    0.2    0.7    0.6    NaN

**01_3. 填補遺漏值**

In [34]:
# 使用fillna()，並指定參數value
df1 = df.fillna(value = 1)
print(df1)
print()

# 也可以加入mean()其他統計函數
df["COL_B"] = df["COL_B"].fillna(df["COL_B"].mean())
print(df)
print()

df["COL_C"] = df["COL_C"].fillna(df["COL_C"].median())
print(df)
print()

   COL_A  COL_B  COL_C  COL_D
0    0.5   0.90    0.4    1.0
1    0.8   0.60    1.0    1.0
2    0.7   0.30    0.8    0.9
3    0.8   0.30    1.0    0.2
4    0.9   0.56    0.7    0.3
5    0.2   0.70    0.6    1.0
6    1.0   0.56    1.0    1.0

   COL_A  COL_B  COL_C  COL_D
0    0.5   0.90    0.4    NaN
1    0.8   0.60    NaN    NaN
2    0.7   0.30    0.8    0.9
3    0.8   0.30    NaN    0.2
4    0.9   0.56    0.7    0.3
5    0.2   0.70    0.6    NaN
6    NaN   0.56    NaN    NaN

   COL_A  COL_B  COL_C  COL_D
0    0.5   0.90   0.40    NaN
1    0.8   0.60   0.65    NaN
2    0.7   0.30   0.80    0.9
3    0.8   0.30   0.65    0.2
4    0.9   0.56   0.70    0.3
5    0.2   0.70   0.60    NaN
6    NaN   0.56   0.65    NaN

# **02. 處理重覆資料**

**02_0. 讀取檔案**

In [61]:
df = pandas.read_csv("duplicated_data.csv")
print(df)

   COL_A  COL_B  COL_C  COL_D
0    0.7    0.3    0.8    0.9
1    0.8    0.6    0.4    0.8
2    0.7    0.3    0.8    0.9
3    0.8    0.3    0.5    0.2
4    0.9    0.3    0.7    0.3
5    0.7    0.3    0.8    0.9

**02_1. 刪除重覆記錄**

In [62]:
# 使用drop_duplicates()刪除所有重覆的Record, 但不包含第一筆Record
df1 = df.drop_duplicates()
print(df1)

   COL_A  COL_B  COL_C  COL_D
0    0.7    0.3    0.8    0.9
1    0.8    0.6    0.4    0.8
3    0.8    0.3    0.5    0.2
4    0.9    0.3    0.7    0.3

**02_2. 刪除重覆欄位值**

In [66]:
# 指定欄位, 預設會留第一個重覆record
df1 = df.drop_duplicates("COL_B")
print(df1)
print()

# 添加參數keep, 指定要保留第n個重覆record, 其餘刪除
df2 = df.drop_duplicates("COL_B", keep = "last")
print(df2)
print()

# 如果參數keep = False, 所有重覆record的不會保留, 全部刪除
df3 = df.drop_duplicates("COL_B", keep = False)
print(df3)

   COL_A  COL_B  COL_C  COL_D
0    0.7    0.3    0.8    0.9
1    0.8    0.6    0.4    0.8

   COL_A  COL_B  COL_C  COL_D
1    0.8    0.6    0.4    0.8
5    0.7    0.3    0.8    0.9

   COL_A  COL_B  COL_C  COL_D
1    0.8    0.6    0.4    0.8

# **03. 轉換分類資料**

In [70]:
f = {"Gender":["male","female","not specified","male","female","female"],
     "Size":["XL","M","XXL","L","S","XS"],
    "Price":[800, 400, 300, 500, 700, 850]}
df = pandas.DataFrame(f)
print(df)
print()

size_mapping = {"XXL":5,
                "XL":4,
                "L":3,
                "M":2,
                "S":1,
                "XS":0}

df["Size"] = df["Size"].map(size_mapping)
print(df)

          Gender Size  Price
0           male   XL    800
1         female    M    400
2  not specified  XXL    300
3           male    L    500
4         female    S    700
5         female   XS    850

          Gender  Size  Price
0           male     4    800
1         female     2    400
2  not specified     5    300
3           male     3    500
4         female     1    700
5         female     0    850